{% extends 'base.html' %}
{% from 'common.html' import task_url, format_ts, task_header, task_row -%}



{# Declarations #}



{%- macro task_section(title, tasks, sub_category=False) -%}
<section class="{{'sub-category' if sub_category else 'task-category'}}">
    <h2>{{ title|e }}</h2>
    <table>
        <thead>
            {{- task_header() -}}
        </thead>
        <tbody>
            {%- for task in tasks -%}
                {{ task_row(task) }}
            {%- endfor -%}
        </tbody>
    </table>
</section>
{%- endmacro -%}



{# Content #}

{%- block title %}Task List{% endblock -%}


{%- block head -%}
<style>
.task-block .task-category {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
</style>
{%- endblock -%}



{%- block main -%}
<div class="task-block">
    <section class="task-category">
        {%- if data.late -%}
            {{- task_section('Late', data.late, True) -}}
        {%- endif -%}
        {{- task_section('Due Today', data.due_today, True) -}}
    </section>
    {{- task_section('Due This Week', data.due_this_week) -}}
</div>
<div class="task-block">
    {{- task_section('Pending', data.pending) -}}
    {{- task_section('Due Later', data.due_later) -}}
</div>
{{- task_section('Backlog', data.backlog) -}}
{%- endblock -%}



{%- block quote -%}
<p>OODA:</p>
<p>Observe, Orient, Decide, Act</p>
{%- endblock -%}